<div class="row mt-2 ">
    <div class="m-3 col-sm-6 col-md-4 card" style="width: 18rem;"><img
            src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ffiles.tofugu.com%2Farticles%2Freviews%2F2016-07-19-japan-crate%2Fheader-1280x.jpg&f=1&nofb=1"
            class="card-img-top img-fluid" alt="...">
        <div class="card-body">
            <h5 class="card-title">Japanese candy</h5>
            <h6 class="card-subtitle mb-2 text-muted">$9.99 a box / $7.99 monthly</h6>
            <p class="card-text">Buy these Japanese sweets or pay a monthly subscription</p>
            <a href="#" class="btn btn-primary">Buy Now</a>
        </div>
    </div>
    <div class="m-3 col-sm-6 col-md-4 card" style="width: 18rem;"><img
            src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ffiles.tofugu.com%2Farticles%2Freviews%2F2016-07-19-japan-crate%2Fheader-1280x.jpg&f=1&nofb=1"
            class="card-img-top img-fluid" alt="...">
        <div class="card-body">
            <h5 class="card-title">Japanese candy</h5>
            <h6 class="card-subtitle mb-2 text-muted">$9.99 a box / $7.99 monthly</h6>
            <p class="card-text">Buy these Japanese sweets or pay a monthly subscription</p>
            <a href="#" class="btn btn-primary">Buy Now</a>
        </div>
    </div>
    <div class="m-3 col-sm-6 col-md-4 card" style="width: 18rem;"><img
            src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ffiles.tofugu.com%2Farticles%2Freviews%2F2016-07-19-japan-crate%2Fheader-1280x.jpg&f=1&nofb=1"
            class="card-img-top img-fluid" alt="...">
        <div class="card-body">
            <h5 class="card-title">Japanese candy</h5>
            <h6 class="card-subtitle mb-2 text-muted">$9.99 a box / $7.99 monthly</h6>
            <p class="card-text">Buy these Japanese sweets or pay a monthly subscription</p>
            <a href="#" class="btn btn-primary">Buy Now</a>
        </div>
    </div>
</div>
<div class="row mt-2">
    <div class="m-3 col-sm-6 col-md-4 card" style="width: 18rem;"><img
            src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ffiles.tofugu.com%2Farticles%2Freviews%2F2016-07-19-japan-crate%2Fheader-1280x.jpg&f=1&nofb=1"
            class="card-img-top img-fluid" alt="...">
        <div class="card-body">
            <h5 class="card-title">Japanese candy</h5>
            <h6 class="card-subtitle mb-2 text-muted">$9.99 a box / $7.99 monthly</h6>
            <p class="card-text">Buy these Japanese sweets or pay a monthly subscription</p>
            <a href="#" class="btn btn-primary">Buy Now</a>
        </div>
    </div>
    <div class="m-3 col-sm-6 col-md-4 card" style="width: 18rem;"><img
            src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ffiles.tofugu.com%2Farticles%2Freviews%2F2016-07-19-japan-crate%2Fheader-1280x.jpg&f=1&nofb=1"
            class="card-img-top img-fluid" alt="...">
        <div class="card-body">
            <h5 class="card-title">Japanese candy</h5>
            <h6 class="card-subtitle mb-2 text-muted">$9.99 a box / $7.99 monthly</h6>
            <p class="card-text">Buy these Japanese sweets or pay a monthly subscription</p>
            <a href="#" class="btn btn-primary">Buy Now</a>
        </div>
    </div>
    <div class="m-3 col-sm-6 col-md-4 card" style="width: 18rem;"><img
            src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ffiles.tofugu.com%2Farticles%2Freviews%2F2016-07-19-japan-crate%2Fheader-1280x.jpg&f=1&nofb=1"
            class="card-img-top img-fluid" alt="...">
        <div class="card-body">
            <h5 class="card-title">Japanese candy</h5>
            <h6 class="card-subtitle mb-2 text-muted">$9.99 a box / $7.99 monthly</h6>
            <p class="card-text">Buy these Japanese sweets or pay a monthly subscription</p>
            <a href="#" class="btn btn-primary">Buy Now</a>
        </div>
    </div>
</div>